@model MyTask.Web.Models.ViewModels.LoginViewModel


@{
    ViewData["Title"] = "Login";
}


<div class="container pt-4 mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mb-3 mt-3 h3">Login</h1>
            @if (!string.IsNullOrEmpty(ViewBag.RegisterFirst))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Warning!</strong> @ViewBag.RegisterFirst
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.Invalid))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> @ViewBag.Invalid
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.RegisterSuccess))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> @ViewBag.RegisterSuccess
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="UserEmail">Email:</label>
                    <input type="text" id="userName" class="form-control" asp-for="UserEmail" required />
                    <span class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Password">Password:</label>
                    <input type="password" id="password" class="form-control" asp-for="Password" required minlength="6" />
                    <span class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark" asp-controller="Account" asp-action="Login">Login</button>
                </div>
                <div class="mb-3 text-center">
                    <span>Don't have an account? </span>
                    <a class="text-decoration-none" asp-controller="Account" asp-action="Register">Register here</a>
                </div>
            </form>
        </div>

    </div>
</div>



